    .menu
    {
        display: flex;
        justify-content:space-evenly;
        color: rgb(0, 0, 0);
    }

    a:link
    {
        color:rgb(0, 0, 0) ;
    }

    a:visited
    {
        color:rgb(255, 255, 255) ;
    }

    .grid
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .grid img
    {
      border:3px solid black;
      border-radius: 50px;
    }

    h1
    {
        display: flex;
        justify-content: center;
    }

    .origami
    {
        border: solid;
        border-radius: 20px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhnE7FQuTLJLZKZHeiOBQb70RLkvvuErxneLQMOeoJPn-VVlKFsePvNwEG9JRy7agUik&usqp=CAU);
        width: 310px;
        font-family: fantasy;
    }

    html
    {
        background-color: rgb(205, 179, 253);
    }